.Homepage{
    width: 100%;  
    height:100vh;  
    display: flex; 
    position: absolute;  
justify-content: center; 
align-items: center;  
overflow-y: hidden; 
} 


.Homepage video{ 
z-index:-1; 
width: 100%;     
display: flex; 
justify-content: center; 
align-items: center;   
background-repeat:no-repeat;
background-size:contain;
background-position:center;
}    

.Homepage-body{
width: 50%; 
height: 50vh;    
display: flex;  
flex-direction: column;
/* justify-content: center;   */
align-items: center;
position: fixed;
/* background: yellow;   */
}   

.Homepage-profile-img{
    width: 25%;  
    height: 25vh; 
    border-radius: 50%;
    background: rgba(242, 236, 236, 0.54); 
    margin: 10px auto; 
    position: absolute;  
    padding: 3px;  
    text-align: center; 
} 

.Homepage-profile-img img{
    width: 98%;  
    height: 25vh;
    border-radius: 50%;
} 

.Homepage-name{ 
    width: 30%;  
    background: red;
    color: white;   
    bottom: 0; 
    /* position: fixed; */
}  

.Homepage-profile-img p{
    color: white; 
    font-size: 20px;  
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
 
.Homepage-profile-img span{   
    color:aqua; 
    font-size: 20px;  
    font-weight:lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
} 
 
.Homepage-links{  
    width: 100%; 
    height: 5vh; 
    padding: 5px;
display: flex;  
justify-content: center;  
align-items: center;
position: absolute;
/* background: blue;   */
} 

.Homepage-links svg{
    width: 15%;   
    /* background: red; */
} 
.Homepage-links svg{
    width: 50%;    
    height: fit-content; 
    fill: beige;  
    cursor: pointer;
} 
 

@media only screen and (max-width: 1300px) { 
    .Homepage{
        height:auto;  
    }  

    .Homepage video{ 
        width: auto;     
        } 

        .Homepage-profile-img{ 
        width: auto;
            } 
} 

@media only screen and (max-width: 992px) { 
    .Homepage{
        height:auto;  
    }  

    .Homepage-body{
        width: 50%; 
margin-top: 50px;
        }  
}


/* @media only screen and (max-width: 992px) {
    .Homepage{
        height:auto;  
    } 
} */

